%h1
  Lista de lugares foursquare
-venues.each  do |venue|
  %div
    %div
      %strong
        nombre:
      %a{href:"/place/#{venue.id}"}
        = venue.name
    %div
      %strong
        categoria:
      = "#{venue.categories.first.name}(#{venue.categories.first.id})"
    %div
      %strong
        id
      = venue.id
